In [25]:
import pandas as pd
import numpy as np

##Get latitude and longitude of all freguesias of Lisbon:

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="crocs49")
location = geolocator.geocode("Pena,Lisboa ")
print(location.address)
print((location.latitude, location.longitude))

Pena, Arroios, Lisboa, Portugal
(38.721249650000004, -9.139217826869645)

In [15]:
freguesias_df = pd.read_excel(r"C:\Users\crocs\OneDrive - Universidade de Lisboa\Ambiente de Trabalho\Gonçalo\College&Courses\Data Analytics- IronHack\Course Data Analytics\Projects\FinalProject\GoogleMaps_Places\Freguesias.xlsx")

type(freguesias_df["Freguesia"].iloc[0])

str

In [16]:
freguesias_df.head(5)

                                Freguesia
0          Alcântara[nota 5] (2.º Bairro)
1           Alvalade[nota 7] (3.º Bairro)
2       Campo Grande[nota 8] (3.º Bairro)
3  São João de Brito[nota 9] (3.º Bairro)
4      Alto do Pina[nota 10] (4.º Bairro)

In [17]:
#Treating beginning of dataframe:
for i in range(len(freguesias_df)):
    freguesias_df["Freguesia"].iloc[i] = freguesias_df["Freguesia"].iloc[i].split("nota")
    
for i in range(len(freguesias_df)):
    freguesias_df["Freguesia"].iloc[i] = freguesias_df["Freguesia"].iloc[i][0].replace("[","")

freguesias_df.head(5)

freguesias_df.to_excel(r"C:\Users\crocs\OneDrive - Universidade de Lisboa\Ambiente de Trabalho\Gonçalo\College&Courses\Data Analytics- IronHack\Course Data Analytics\Projects\FinalProject\GoogleMaps_Places\Freguesias.xlsx")

                                Freguesia
0          [Alcântara[,  5] (2.º Bairro)]
1           [Alvalade[,  7] (3.º Bairro)]
2       [Campo Grande[,  8] (3.º Bairro)]
3  [São João de Brito[,  9] (3.º Bairro)]
4      [Alto do Pina[,  10] (4.º Bairro)]

In [31]:
freguesias_df = pd.read_excel(r"C:\Users\crocs\OneDrive - Universidade de Lisboa\Ambiente de Trabalho\Gonçalo\College&Courses\Data Analytics- IronHack\Course Data Analytics\Projects\FinalProject\GoogleMaps_Places\Freguesias.xlsx")

In [35]:
freguesias_df.drop(columns = ["Unnamed: 3","Index"], inplace = True)

In [36]:
freguesias_df.head(2)

   Freguesia  Cidade
0  Alcântara  Lisboa
1   Alvalade  Lisboa

In [38]:
location = geolocator.geocode(freguesias_df["Freguesia"][1]+","+freguesias_df["Cidade"][1])
print(location.address)
print((location.latitude, location.longitude))

Alvalade, Lisboa, Portugal
(38.7474901, -9.13931818806065)

In [39]:
def lat_log(row):
    row["lat"] = np.nan
    row["lon"] = np.nan
    
    for i in range(len(row)):
        location = geolocator.geocode(freguesias_df["Freguesia"][i]+","+freguesias_df["Cidade"][i])
        row["lat"].iloc[i] = location.latitude
        row["lon"].iloc[i] = location.longitude
        
    return row

In [41]:
freguesias_df = lat_log(freguesias_df)

In [42]:
freguesias_df.head(5)

           Freguesia  Cidade        lat       lon
0          Alcântara  Lisboa  38.711057 -9.182876
1           Alvalade  Lisboa  38.747490 -9.139318
2       Campo Grande  Lisboa  38.753554 -9.156403
3  São João de Brito  Lisboa  38.756059 -9.137589
4       Alto do Pina  Lisboa  38.742836 -9.127535

In [43]:
freguesias_df.to_excel(r"C:\Users\crocs\OneDrive - Universidade de Lisboa\Ambiente de Trabalho\Gonçalo\College&Courses\Data Analytics- IronHack\Course Data Analytics\Projects\FinalProject\GoogleMaps_Places\Freguesias.xlsx")